.skills-candidate-wrapper .p-chips {
  display: block !important;
}

.skills-candidate-wrapper .p-chips .p-chips-multiple-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5rem;
  min-height: 3rem;
  overflow: auto;
}

.react-tel-input .form-control {
  height: 43px !important;
  width: 100% !important;
}

.ats-select__control {
  height: 45px !important;
  border-radius: 6px !important;
  border: 1px solid #d1d5db;
  box-shadow: none;
}

.ats-select__multi-value {
  border-radius: 8px;
}
