.customized-timeline .p-timeline-event:nth-child(even) {
  flex-direction: row !important;
}
.customized-timeline
  .p-timeline-event:nth-child(even)
  .p-timeline-event-content {
  text-align: left !important;
}
.customized-timeline .p-timeline-event-opposite {
  flex: 0;
}
.customized-timeline .p-card {
  margin-top: 1rem;
}

.p-timeline-left .p-timeline-event-opposite {
  display: none;
}

/* Make the connector dotted */
.p-timeline-event-connector {
  border-left: 2px dotted #ffffff !important; /* Tailwind slate-300 */
}
