.notification .p-sidebar-header {
	display: none !important;
}

.notification .p-sidebar-content {
	padding: 0 !important;
	overflow: hidden !important;
	display: flex !important;
	flex-direction: column !important;
}

.notification .p-sidebar {
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}
