.skills-candidate-wrapper .p-chips {
  display: block !important;
}

.skills-candidate-wrapper .p-chips .p-chips-multiple-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5rem;
  min-height: 3rem;
  overflow: auto;
}

.react-tel-input .form-control {
  height: 43px !important;
  width: 100% !important;
}

.cursor-ban {
  cursor: url('../../../assets/icons/ban.svg'), not-allowed;
}
